* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root > div {
	height: 100%;
}

.right label {
	left: inherit;
	right: 0px;
	transform-origin: top right;
}

.App {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 64px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428%;
		-ms-grid-rows: 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428%;
}

body, #root, .App {
	position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.Login {
  grid-column: 6 / span 4;
	grid-row: 5 / span 5;
	-ms-grid-column: 6;
	-ms-grid-column-span: 4;
	-ms-grid-row: 5;
	-ms-grid-row-span: 5;
}

.Header {
	background: rgb(240,131,31);
	background: -moz-linear-gradient(-45deg, rgba(240,131,31,1) 0%, rgba(0,204,255,1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(240,131,31,1) 0%, rgba(0,204,255,1) 100%);
	background: linear-gradient(-45deg, rgba(240,131,31,1) 0%, rgba(0,204,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0831f",endColorstr="#00ccff",GradientType=1);
  	grid-column: 1 / span 15;
	grid-row: 1 / span 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 15;
	-ms-grid-row: 1;
	-ms-grid-row-span: 1;
}

.Menu {
  grid-column: 1 / span 2;
	grid-row: 2 / span 14;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	-ms-grid-row: 2;
	-ms-grid-row-span: 14;
}

.Page {
	overflow-y: scroll;
	padding: 30px;
}

.Page {
	grid-row: 2 / span 13;
	-ms-grid-row: 2;
	-ms-grid-row-span: 13;
}

.NotificationBar {
	grid-row: 15;
	grid-row-end: 16;
	-ms-grid-row: 16;
	-ms-grid-row-span: 1;
}

.menuShown {
  grid-column-start: 3;
  grid-column-end: 16;
	-ms-grid-column: 3;
	-ms-grid-column-span: 12;
}

.menuHidden {
  grid-column-start: 1;
  grid-column-end: 16;
	-ms-grid-column: 1;
	-ms-grid-column-end: 16;
}

td {
	padding: 7px;
}

table {
	border-spacing: 0px 10px
}

.taxiScheduleHolder table {
	width: 100%;
	margin-bottom: 60px;
}

.taxiScheduleHolder th {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.taxiScheduleHolder td {
	margin: 0px;
	padding: 0px;
}

/* Small Monitors: 
	(Reduced padding and margins)
*/
@media only screen and (max-width: 1350px) {
	.Page {
		padding: 15px;
	}

	.Login {
		grid-row: 4 / span 6;
		-ms-grid-row: 4;
		-ms-grid-row-span: 6;
	}
}

/* Tablet: 
	(Reduced padding and margins)
*/
@media only screen and (max-width: 1200px) {
	.App {
    grid-template-columns: 68px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428% 7.1428%;
	}

	.Menu {
		grid-column: 1 / span 1;
		-ms-grid-column-span: 1;
	}

	.menuShown {
		grid-column-start: 2;
		-ms-grid-column: 2;
	}

	.HiddenOnMobile {
		display: none !important;
	}

	.Login {
		grid-row: 4 / span 6;
		grid-column: 4 / span 8;
		-ms-grid-row: 4;
		-ms-grid-row-span: 6;
	}

}

/* Mobile */
@media only screen and (max-width: 780px) {
	.ColumnFlexDirectionOnMobile {
		flex-direction: column;
	}

	.Login {
		grid-column: 1 / span 14;
		grid-row: 4 / span 7;
		-ms-grid-column: 1;
		-ms-grid-column-span: 14;
		-ms-grid-row: 4;
		-ms-grid-row-span: 7;
	}
}