* {
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body, #root, .App {
	position: absolute;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

.Login {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

.CourseSelect {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Course {
  width: 400px;
  height: 250px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
}
