<!DOCTYPE html>
<html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="/courseCertificateStyle.css">
</head>
<body class="center-horizontal">
    <img src="/images/logo_qhighschool_q.svg" id="bg-q-logo" class="center-horizontal" allign="middle">

    <div id="top-bar" class="center-horizontal">
        <svg width="100%">
            <line x1="0" y1="42%" x2="100%" y2="42%" id="left-top-line-1" class="line-color-1"/>
            <line x1="0" y1="55%" x2="100%" y2="55%" id="left-top-line-2" class="line-color-2"/>
        </svg>
        <img src="/images/logo_qhighschool.svg" id="top-logo">
        <svg width="100%">
            <line x1="0" y1="42%" x2="100%" y2="42%" id="left-top-line-1" class="line-color-1"/>
            <line x1="0" y1="55%" x2="100%" y2="55%" id="left-top-line-2" class="line-color-2"/>
        </svg>
    </div>

    <div id="middle-text">
        <p class="title"> Certificaat </p>
        <p class="sub-text"> Hierbij verklaart Quadraam dat </p>
        <p class="main-text"> <%= user.firstName + " " + user.lastName %> </p>
        <p class="sub-text"> de Q-Highschool module </p>
        <p class="main-text"> <%= group.courseName %> </p>
        <p class="sub-text"> met een studietijd van <%= group.studyTime%> uur </p>
        <p class="sub-text"> succesvol heeft afgerond met beoordeling </p>
        <p class="main-text"> <%= group.evaluation.assesment %> </p>
        <div id="date" class="center-horizontal">
            <p class="sub-text"> op </p>
            <p class="sub-text"> 16-05-2019 </p>
        </div>
    </div>

    <div id="signature" >
        <p class="sub-text" id="signature-text">Quadraam:</p>
        <svg width="100%" height="100%">
            <line x1="0" y1=90% x2="100%" y2="90%" id="signature-line" />
        </svg>
    </div>

    <div id="bottom-bar" class="center-horizontal">
        <svg width="100%" height="100%">
            <line x1="0" y1="20%" x2="100%" y2="20%" id="left-top-line-1" class="line-color-2"/>
            <line x1="0" y1="60%" x2="100%" y2="60%" id="left-top-line-2" class="line-color-1"/>
        </svg>
    </div>
</body>
</html>