<!DOCTYPE html>
<html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="courseCertificateStyle.css">
</head>
<body>
    <h1 class="titel">
        asd
    </h1>
	error
</body>
</html>