<!DOCTYPE html>
<html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="/courseCertificateStyle.css">
</head>
<body>
    <img src="/images/logo_qhighschool.svg" id="top-logo">
    <img src="/images/logo_qhighschool_q.svg" id="bg-q-logo" allign="middle">
    <div id="middle-text">
        <p class="title"> Certificaat </p>
        <p class="sub-text"> Hierbij verklaart Quadraam dat </p>
        <p class="main-text"> Maarten Berenschot </p>
        <p class="sub-text"> de Q-Highschool module </p>
        <p class="main-text"> HTML-De Basis </p>
        <p class="sub-text"> met een studielast van 24 uur </p>
        <p class="sub-text"> succesvol heeft afgerond met beoordeling </p>
        <p class="important-text"> 10 </p>
        <p class="sub-text"> op </p>
        <p class="sub-text"> 16-05-2019 </p>
    </div>
</body>
</html>