<!DOCTYPE html>
<html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="/courseCertificateStyle.css">
    <style>
        body {
            font-family: "Roboto Light";
        }
        @page{
            size:A4;
        }
        #mainText {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="mainText">
        <h1> Certificaat </h1>
        <h6> Hierbij verklaart Quadraam dat </h6>
        <h2> Maarten Berenschot </h2>
        <h6> de Q-Highschool module </h6>
        <h2> HTML-De Basis </h2>
        <h6> met een studielast van 24 uur </h6>
        <h6> succesvol heeft afgerond met beoordeling </h6>
        <h2> 10 </h2>
        <h6> op </h6>
        <h6> 16-05-2019 </h6>
    </div>
</body>
</html>