<!DOCTYPE html>
<head>
    <title>Certificaat</title>
    <link rel="stylesheet" type="text/css" href="/public/certificateStyle.css">
</head>
<body>
    <%- include('courseCertificate', {user:certificates[0].user, group: certificates[0].groups[0]}) %>
</body>