.CourseGroup {
	color: white;
	position: relative;
}

.CourseGroup .title {
	position: absolute;
	left: 2.5%;
	bottom: 15.2vw;
}

@media screen and (max-width: 500px) {
	.CourseGroup .title {
		font-size: .6em;
	}
}

@media screen and (max-width: 700px) {
	.CourseGroup .title {
		bottom: 28.5vw;
	}
}

.CourseGroup .title:hover {
	color: #ff7a03;
	cursor: pointer;
}

.CourseGroup .scroller {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	scroll-behavior: smooth;
	padding: 3vw 0;
}

.CourseGroup .scroll-button {
	position: absolute;
	height: 100%;
	width: 2vw;
	bottom: 0;
	top: 0;
	display: none;
	border: none;
	padding: 0;
}

.CourseGroup:hover .scroll-button{
	display: inline-block;
}

.CourseGroup .scroll-button.left {
	left: 0;
	z-index: 2;
	background: url(/previous-page-button.svg) no-repeat center rgba(20,20,20,.7);
}

.CourseGroup .scroll-button.right {
	right: 0;
	z-index: 2;
	background: url(/next-page-button.svg) no-repeat center rgba(20,20,20,.7);
}

@media (pointer: coarse) { /* Touch screen, so scrolling through courses can be done without buttons*/
	.CourseGroup .scroller {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
	.CourseGroup:hover .scroll-button {
		display: none;
	}
	.CourseGroup .scroller > .Course:last-of-type {
		margin-right: 3%;
	}
}

/* Right-margins so the last page can consist of <4 courses 
   This is only necessary on desktop when the buttons are visible*/
@media (pointer: fine) { 
	.CourseGroup .scroller > .Course:last-of-type:nth-of-type(4n + 1) {
		margin-right: 75%;
	}

	.CourseGroup .scroller > .Course:last-of-type:nth-of-type(4n + 2) {
		margin-right: 51%;
	}

	.CourseGroup .scroller > .Course:last-of-type:nth-of-type(4n + 3) {
		margin-right: 27%;
	}
	.CourseGroup .scroller > .Course:last-of-type:nth-of-type(4n) {
		margin-right: 3%;
	}
	@media screen and (max-width: 700px) {
		.CourseGroup .scroller > .Course:last-of-type:nth-of-type(2n){
			margin-right: 3%;
		}
		.CourseGroup .scroller > .Course:last-of-type:nth-of-type(2n + 1) {
			margin-right: 52%;
		}
	}
}

.Course.selected {
	transform: scale(1.3);
	z-index: 2;
}