.GroupInfo {
	width: 96vw;
	position: relative;
	text-align: center;
	height: 90vh;
	color: white;
	margin: 0 2vw 1vw 2vw;
	display: flex;
	flex-direction: column;
}

.GroupInfo .text-and-image {
	height: 90%;
	background-color: #1f1f1f;
	display: flex;
}

.GroupInfo .info-text {
	text-align: left;
	margin-top: 2vw;
	margin-left: 2vw;
	flex: 1.3 1 0;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

@media screen and (max-width: 1100px) {
	.GroupInfo .info-text {
		font-size: .7em;
	}
	.GroupInfo .extra-info {
		font-size: .7em;
	}
}

@media screen and (max-width: 800px) {
	.GroupInfo .info-text {
		font-size: .4em;
	}
	.GroupInfo .extra-info {
		font-size: .4em;
	}
}

@media screen and (max-aspect-ratio: 6/5) {
	.GroupInfo {
		height: 70vh;
	}
}

@media screen and (max-aspect-ratio: 5/6) {
	.GroupInfo {
		height: 50vh;
	}
}

.GroupInfo .info-text .title {
	font-family: 'Avenir-Black';
	margin: 0 0 10px 0;
}

.GroupInfo .info-text .short-description {
	margin-top: .2em;
}

.GroupInfo .info-text .period {
	color: #ff7a03;
	height: 2em;
	line-height: 2em;
}

.GroupInfo .info-text .period .square {
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	background: #ff7a03;
}

.GroupInfo .info-text .period .number {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0 0 0 0.5em;
}

.GroupInfo .info-text .description-title {
	font-weight: bold;
}

.GroupInfo .info-text .enroll-button {
	border: none;
	background: #ff7a03;
	color: white;
	padding: 10px;
	font-size: inherit;
	font-weight: 500;
}

.GroupInfo .info-text .enroll-button:hover {
	cursor: pointer;
	color: lightgrey;
}

.GroupInfo .image {
	flex: 2;
}

.GroupInfo .image:after {
	display: block;
	background-image: linear-gradient(to right, #1f1f1f 10%, transparent 80%);
	height: 100%;
	width: 100%;
	content: '';
}

.GroupInfo .close-button {
	background: url(/close-button.svg);
	position: absolute;
	right: 1vw;
	top: 1vw;
	width: 3vw;
	height: 3vw;
	padding: 0;
	border: none;
}

@media screen and (max-width: 500px) {
	.GroupInfo .close-button {
		width: 5vw;
		height: 5vw;
	}
}

.GroupInfo .close-button:hover {
	filter: grayscale(30%);
	cursor: pointer;
}

.GroupInfo .extra-info {
	/* flex: 1; */
	display: flex;
	background-color: black;
}

.GroupInfo .extra-info-text {
	margin: 3vh 5vw;
}