.Course {
	height:100px;
	width:200px;
	background:red;
	display: inline-block;
	margin: 0 5px;
	transition: width 200ms, height 200ms;
	transition-delay: 100ms;
}

.Course:hover{
	height: 150px;
	width: 300px;
	transition: width 500ms, height 500ms;
	transition-delay: 200ms;
}

.large:hover{
	height: 350px;
	width: 250px;
	transition: width 500ms, height 500ms;
	transition-delay: 200ms;
}

.large {
	height: 300px;
	width: 200px;
}