.CourseInfo {
	width: 96vw;
	background-color: #1f1f1f;
	position: relative;
	text-align: center;
	height: 32vw;
	display: flex;
	color: white;
	margin: 0 2vw 4vw 2vw;
}

.CourseInfo .info-text {
	text-align: left;
	margin-top: 2vw;
	margin-left: 2vw;
	flex: 1;
	overflow: scroll;
}

@media screen and (max-width: 1100px) {
	.CourseInfo .info-text {
		font-size: .7em;
	}
}

@media screen and (max-width: 800px) {
	.CourseInfo .info-text {
		font-size: .4em;
	}
}

.CourseInfo .info-text .title {
	margin: 0 0 10px 0;
}

.CourseInfo .info-text .short-description {
	margin-top: .2em;
}

.CourseInfo .info-text .period {
	color: #ff7a03;
	height: 2em;
	line-height: 2em;
}

.CourseInfo .info-text .period .square {
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	background: #ff7a03;
}

.CourseInfo .info-text .period .number {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0 0 0 0.5em;
}

.CourseInfo .info-text .description-title {
	font-weight: bold;
}

.CourseInfo .info-text .enroll-button {
	border: none;
	background: #ff7a03;
	color: white;
	padding: 10px;
	font-size: inherit;
	font-weight: 500;
}

.CourseInfo .info-text .enroll-button:hover {
	cursor: pointer;
	color: lightgrey;
}

.CourseInfo .image{
	flex:2;
}

.CourseInfo .image:after {
	display: block;
	background-image: linear-gradient(to right,#1f1f1f 10%,transparent 80%);
	height: 100%; 
	width: 100%; 
	content: ''; 
}

.CourseInfo .close-button {
	background: url(/close-button.svg);
	position: absolute;
	right: 1vw;
	top: 1vw;
	width: 3vw;
	height: 3vw;
	padding: 0;
	border: none;
}

@media screen and (max-width: 500px) {
	.CourseInfo .close-button {
		width: 5vw;
		height: 5vw;
	}
}

.CourseInfo .close-button:hover{
	filter: grayscale(30%);
	cursor: pointer;
}