.CourseGroup {
	color: white;
	padding-bottom: 1.7rem;
}

.CourseGroup .title {
	margin-left: 2%;
}

.CourseGroup .title:hover {
	color: #ff7a03;
	cursor: pointer;
}

.CourseGroup .scroller {
	white-space: nowrap;
	width: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	scroll-behavior: smooth;
}

.CourseGroup .scroll-left {
	position: absolute;
	left: 0;
	height: 15em;
	width: 2.5%;
	z-index: 2;
}

.CourseGroup .scroll-right {
	position: absolute;
	right: 0;
	height: 15em;
	width: 2.5%;
	z-index: 2;
}

@media (pointer: coarce) { /* Touch screen, so scrolling through courses can be done without buttons*/
	.CourseGroup .scroller {
		overflow-x: scroll;
	}
}