.CourseInfo {
	/* background-color: blue; */
	position: relative;
	text-align: center;
	height: 28rem;
	display: flex;
	z-index: -1;/* So the arrow fits  above it*/
}

.CourseInfo .info-text {
	flex: 1;
	background-color: darkgray;
}

.CourseInfo .image{
	flex:2;
	background-color: yellow;
}

.CourseInfo .close-button {
	position: absolute;
	right: 1em;
	top: 1em;
}