.CourseInfo {
	width: 96%;
	background-color: #1f1f1f;
	position: relative;
	text-align: center;
	height: 50vh;
	display: flex;
	color: white;
	margin: 0 2%;
	/* z-index: -1;So the arrow fits  above it; nevermind this stops the button from working */
}

.CourseInfo .info-text {
	text-align: left;
	margin-top: 2em;
	margin-left: 3em;
	flex: 1;
}

.CourseInfo .info-text .title {
	margin-bottom: 0;
}

.CourseInfo .info-text .short-description {
	margin-top: .2em;
}

.CourseInfo .info-text .period {
	color: #ff7a03;
	height: 2em;
	line-height: 2em;
}

.CourseInfo .info-text .period .square {
	width: 2em;
	height: 2em;
	display: inline-block;
	vertical-align: middle;
	background: #ff7a03;
}

.CourseInfo .info-text .period .number {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0 0 0 0.5em;
}

.CourseInfo .info-text .description-title {
	font-weight: bold;
}

.CourseInfo .info-text .enroll-button {
	border: none;
	background: #ff7a03;
	color: white;
	height: 2.5em;
	width: 8em;
	font-weight: 500;
	position: absolute;
	bottom: 2em;
}

.CourseInfo .info-text .enroll-button:hover {
	cursor: pointer;
	color: lightgrey;
}

.CourseInfo .image{
	flex:2;
}

.CourseInfo .image:after {
	display: block;
	background-image: linear-gradient(to right,#1f1f1f 10%,transparent 80%);
	height: 100%; 
	width: 100%; 
	content: ''; 
}

.CourseInfo .close-button {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 4em;
	height: 4em;
	border: none;
}

.CourseInfo .close-button:hover{
	filter: grayscale(30%);
	cursor: pointer;
}