.GroupCard {
	vertical-align: top;
	margin: 12px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;
	position: relative;
}

.GroupCard .GroupCardInside {
	width: 400px;
	height: 338px;
	padding: 15px;
	vertical-align: top;
	display: inline-block;
	position: relative;
}

.GroupCard .footer {
	position: absolute;
	bottom: 0px;
	width: 400px;
	height: 55px;
	margin-left: -15px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: space-between;
}

.GroupCard .footer .Field * {
	color: white !important;
}