@font-face {
  font-family: 'Roboto Light';
  src: url('./Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RopaSans Regular';
  src: url('./RopaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto Light";
  font-variant-ligatures: none;
  width: 210mm;
  height: 297mm;
  margin: 0;
  color: white;
} 

#right-bottom-logo {
  position: absolute;
  right: 8%;
  bottom: 6%;
  width: 24%;
  color: white;
}

#top-logo {
  position: absolute;
  left: 9%;
  width: 8%;
  height: auto;
}

#background {
  height: 100%;
  z-index: -1;
}

#signature {
  position: absolute;
  right: 17%;
  bottom: 39%;
  height: 5%;
  width: 17%;
}

#title {
  position: absolute;
  top: 6.5%;
  margin: 0;
  font-family: "RopaSans Regular";
  font-size: 36pt;
  letter-spacing: 12pt;
  text-align: center;
}

#name-text {
  font-size: 22pt;
  margin: 0 0 6.5% 0;
}

#signature p {
  margin: 0;
}

#middle-text {
  position: absolute;
  top: 18%;
  text-align: center;
}

.bold-text {
  font-family: "Roboto Bold";
}

#date {
  font-family: "Roboto Regular";
  font-size: 14pt;
  margin-top: 5.5%;
}

.sub-text {
  font-size: 12pt;
  margin: 0;
}

.main-text {
  font-size: 44pt;
  margin: 0.5% 0 2.5% 0;
}

.main-text-small {
  font-size: 35pt;
  margin: 0;
}

.center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media print and (-webkit-min-device-pixel-ratio:0){
  html, body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    color: #fff !important;
  }
}