@font-face {
  font-family: 'Roboto Light';
  src: url('./Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto Light";
  width: 210mm;
  height: 297mm;
}

#top-bar {
  height: 3.7%;
  display: flex;
  position: absolute;
}

#bottom-bar {
  height: 1.5%;
  position: absolute;
  top: 94%;
}

#top-logo {
  height: 100%;
}

#top-bar div {
  width: 100%;
  height: 50%;
  margin: 2%;
}

.line-color-2 {
  stroke: rgb(172,37,49);
  stroke-width: 4pt;
}

.line-color-1 {
  stroke: rgb(62,192,240);
  stroke-width: 4pt;
}

#bg-q-logo {
  width: 93%;
  height: auto;
  opacity: 0.15;
  top: 24%;
}

#signature {
  position: absolute;
  left: 4%;
  top: 79%;
  height: 7%;
  width: 19%;
}

#signature-text {
  margin: 0;
}

#signature-line {
  stroke: black;
  stroke-width: 0.5pt;
}

#middle-text {
  text-align: center;
}

.center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 92pt;
}

.sub-text {
  font-size: 14pt;
}

.main-text {
  font-size: 48pt;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
}