@font-face {
  font-family: 'Roboto Light';
  src: url('./Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RopaSans Regular';
  src: url('./RopaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto Light";
  font-variant-ligatures: none;
  color: white;
}

.page {
    width: 210mm;
    height: 297mm;
    margin: 0;
}

#right-bottom-logo {
  position: absolute;
  right: 8%;
  bottom: 6%;
  width: 24%;
  color: white;
}

#top-logo {
  position: absolute;
  left: 9%;
  width: 8%;
  height: auto;
}

#background {
  top:0;
  height: 100%;
  z-index: -1;
}

#signature {
  position: absolute;
  right: 17%;
  bottom: 21.5%;
  height: 5%;
  width: 17%;
}

#signature p {
  margin: 0;
}

#middle-text {
  text-align: center;
}

.center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#title {
  position: absolute;
  top: 6.5%;
  margin: 0;
  font-family: "RopaSans Regular";
  font-size: 36pt;
  letter-spacing: 12pt;
  text-align: center;
}

#name-text {
  font-family: "Roboto Bold";
  font-size: 22pt;
  margin: 0 0 3.5% 0;
}

#middle-text {
  position: absolute;
  top: 18%;
  text-align: center;
}

.bold-text {
  font-family: "Roboto Bold";
}

.sub-text {
  font-size: 12pt;
  margin: 0;
}

table {
  position: absolute;
  width:100%;
  padding: 0 15%;
  top: 33%;
  text-align: left;
  font-size: 12pt;
}

th {
  font-family: "Roboto Bold";
  padding-bottom: 1.5%;
}

td {
  padding: 1.5% 0;
}

td + td {
  color: #ff7900 !important;
  font-family: "Roboto Bold";
}

.table-cell-padding-small {
  padding: 0;
}

@media print and (-webkit-min-device-pixel-ratio:0){
  html, body {
    size: A4;
    margin: 0;
    -webkit-print-color-adjust: exact;
    color: #fff !important;
  }
}