@font-face {
  font-family: 'Roboto Light';
  src: url('./Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Roboto Light";
  font-variant-ligatures: none;
}

.page {
    width: 197mm;
    height: 275mm;
    margin: 0;
}



#top-bar {
  height: 4.5%;
  display: flex;
  position: absolute;
  width: 100%;
}

#bottom-bar {
  height: 1.5%;
  position: absolute;
  bottom: 0%;
  width: 100%;
}

#top-logo {
  height: 100%;
  min-width: 22%;
  margin: 0 1.5%;
}

th {
  font-size: 10pt;
  font-weight: normal;
  text-align: left;
}

td {
  font-size: 14pt;
  padding-top: 3%;
}

td + td {
  white-space: nowrap;
}

#table {
  margin-top: 5%;
}

td:not(:last-child), th:not(:last-child) {
  padding-right: 4%;
}

#top-bar svg {
  min-width: 0; /* For edge flex */
}

.line-color-2 {
  stroke: rgb(172,37,49);
}

.line-color-1 {
  stroke: rgb(62,192,240);
}

.line-width-4 {
  stroke-width: 4pt;
}

.line-width-2 {
  stroke-width: 2pt;
}

#bg-q-logo {
  width: 98%;
  height: auto;
  opacity: 0.1;
  top: 24%;
}

#page-counter {
  position: absolute;
  bottom: 3%;
  right: 8%;
  font-size: 20pt;
}

#signature {
  position: absolute;
  left: 2%;
  bottom: 7%;
  height: 7%;
  width: 19%;
}

#signature-text {
  margin: 0;
}

#signature-line {
  stroke: black;
  stroke-width: 1pt;
}

#middle-text {
  text-align: center;
}

.center-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 92pt;
  margin: 8% 0 2% 0;
}

.sub-text {
  font-size: 13pt;
  margin-bottom: 0;
}

.main-text {
  font-size: 45pt;
  margin: 1% 0;
}