<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Beste <%= user.firstName %>,
      <br />
      <br />
      Je hebt je zojuist <b>uitgeschreven</b> voor 
      <%= ((group.subjectName=="Avonturen") ? "het avontuur":"de module") %> 
      <b><%= group.courseName %></b>. 
      <br />
      <br />
      Je kunt op <a href="https://app.q-highschool.nl">app.q-highschool.nl</a> je inschrijvingen wijzigen.
      <br />
      <br />
      Nog vragen? App of bel ons via: 06 22 71 60 56
      <br />
      <br />
      Het Q-highschoolteam.
    </p>
  </body>
</html>
