<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Beste <%= user.firstName %>,
      <br />
      <br />
      Je hebt je zojuist <b>uitgeschreven</b> voor 
      <%= ((group.subjectName=="Avonturen") ? "het avontuur":"de module") %> 
      <b><%= group.courseName %></b>
      uit het parcours 
      <b><%= group.subjectName %></b>
      <br />
      <br />
      Wil je je voor een andere module inschrijven? ga naar <a href="https://app.q-highschool.nl">app.q-highschool.nl</a> en klik dan eenvoudig op <b>aanmelden</b> bij de module van je keuze.
      <br />
      <br />
      Nog vragen? Stuur ons dan een mail via: <a href="mailto:qhighschool@quadraam.nl">qhighschool@quadraam.nl</a>
      <br />
      <br />
      Het Q-highschoolteam.  </body>
    </p>
</html>
