<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>
      Beste <%= user.firstName %>,
      <br />
      <br />
      Leuk, dat je je hebt <b>aangemeld</b> bij de Q-highschool!
      <br />
      Je wilt graag meedoen met <%= ((group.subjectName=="Avonturen") ? "het avontuur":"de module") %>
      <b><%= group.courseName %></b>.
      <br />
      <br />
      Wanneer je deze mail ontvangt, is je aanmelding goed bij ons aangekomen.
      <br />
      <br />
      Wij checken alle aanmeldingen altijd nog even. Ongeveer een week vóór de
      start van jouw nieuwe 
      <%= ((group.subjectName=="Avonturen") ? "avontuur":"module") %>, 
      ontvang je van ons een definitieve bevestiging
      van je deelname. Hierin staat ook waar de eerste bijeenkomst plaatsvindt
      en hoe laat deze begint.
      <br />
      <br />
      Houd je mailbox dus goed in de gaten!
      <br />
      <br />
      Nog vragen? Stuur ons dan een mail via: <a href="mailto:qhighschool@quadraam.nl">qhighschool@quadraam.nl</a>
      <br />
      <br />
      Het Q-highschoolteam.
    </p>
  </body>
</html>
